$color_purple: #5133AB;
$color_red: #AC193D;
$color_orange: #DC572E;
$color_green: #00A600;
$color_blue: #2672EC;

$base_font_size: 14px;
$base_line_height: 1.5em;
$text_font_family: 'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$display_font_family: 'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

body {
	font-family: $text_font_family;
	font-size: $base_font_size;
	line-height: $base_line_height;
	font-weight: 400;
}

p, span, a, ul, li, button {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

strong {
	font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $display_font_family;
	line-height: $base_line_height;
	font-weight: 300;	
}

strong {
  font-weight: 400;
}

.row_padding {
	padding:15px;
	border-bottom: 3px solid #D3D3D3;
}

.tile {  
  width: 100%;
	display: inline-block;
	box-sizing: border-box;
	background: #fff;		
	padding: 20px;
	margin-bottom: 10px;
}
.tile.title {
		margin-top: 0px;
	}
  
.tile.purple, .tile.red, .tile.green,.tile.blue,.tile.orange{
    color: #fff;
  }
  
.tile.purple {
    background: #5133AB;
}
.tile.purple:hover {
	background: #bbb;
}		 
.tile.red {
    background: #AC193D;
}
.tile.red:hover {
	background: darken($color_red, 10%);
}		
  
.tile.green {
    background: #00A600;
}
.tile.green:hover {
	background: darken($color_green, 10%);
}		
  
.tile.blue {
    background: #2672EC;
}
.tile.blue :hover {
	background: darken($color_blue, 10%);
}	
  
.tile.orange {
    background: #DC572E;
}
.tile.orange:hover {
	background: darken($color_orange, 10%);
}	
